
$boxShadow: 3px 3px 8px rgba(0,0,0,.3);

body {
  background-color: #f2f2f2;
}

#app {
  margin-top: 2rem;
}

%box {
  box-shadow: $boxShadow;
}

.form {
  &__box {
	@extend %box;
  }

  &__box2 {
	@extend %box;
	padding: 2rem 1rem;
	margin-top: 2rem;
  }
}
